<app-cabecalho></app-cabecalho>
<app-sidebar></app-sidebar>
<main>
    <section class="conteudo">
        <ng-container *ngFor="let episode of episode">
            <h1 class="episode-name">{{ episode.name }}</h1>
            <p class="episode-number"><span>Season/EP: </span>{{ episode.episode }}</p>
            <p class="episode-date"><span>Date: </span>{{ episode.air_date }}</p>
        </ng-container>
        <h2 class="list-title">Personagens Que Apareceram: </h2>
        <div class="list-characters">
            <ng-container *ngFor="let character of characterNames; let i = index">
                <div class="card-character">
                    <p>{{ character }}</p>
                    <button type="button" class="card-button" (click)="changeCharacterId(charactersId[i])">
                        <img src={{characterImages[i]}} >
                    </button>
                </div>
            </ng-container>
        </div>
    </section>
</main>