<app-cabecalho></app-cabecalho>
<main>
    <section class="profile-container">
        <div class="profile-container-child">
            <h1 class="title">Personagens Favoritados</h1>
            <div class="list-characters">
                <ng-container *ngFor="let character of characters">
                    <div class="card-character">
                        <p class="card-name-character">{{ character.name }}</p>
                        <button type="button" class="card-button" (click)="removeCardCharacters(character.id)">
                            <img src={{character.image}}>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="profile-container-child">
            <h1 class="title">Episódios Favoritados</h1>
            <div class="list-episodes">
                <ng-container *ngFor="let episode of episodes">
                    <div class="card-episode">
                        <p>{{ episode.name }}</p>
                        <span>{{ episode.episode }}</span>
                        <button type="button" class="card-button-two" (click)="removeCardEpisodes(episode.id)">
                            Remover
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="profile-container-child">
            <h1 class="title">Localizações Favoritadas</h1>
            <div class="list-locations">
                <ng-container *ngFor="let location of locations">
                    <div class="card-location">
                        <p>{{ location.name }}</p>
                        <span>{{ location.type }}</span>
                        <span>{{ location.dimension }}</span>
                        <button type="button" class="card-button-two" (click)="removeCardLocations(location.id)">
                            Remover
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </section>
</main>