.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8%;
    width: 100%;
}

.profile-container div {
    align-items: center;
    color: white;
    height: 100px;
    margin: 20px;
    text-align: center;
    width: 90%;
}

.profile-avatar {
    margin-bottom: 20px;
    width: 200px;
}

.profile-name, .profile-email, .profile-date-register {
    font-weight: bold;
}

.list-characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.list-characters p {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-character {
    align-items: center;
    margin: 10px;
    text-align: center;
}

.list-characters img {
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,1);
    cursor: pointer;
    width: 100px;
}

.card-button {
    background-color: transparent;
    border: none;
}