<app-cabecalho></app-cabecalho>
<app-sidebar></app-sidebar>
<main>
    <section class="conteudo" id="character-list">
            <ng-container *ngFor="let character of characters">
                <div class="card">
                    <img src={{character.image}} class="card-image" alt="Foto do {{character.name}}">
                    <p class="card-name">{{ character.name }}</p>
                    <div class="card-identify">
                        <p class="card-gener">{{ character.gender }}</p>
                        <p id="card-status" [ngClass]="{
                            'character-alive': character.status === 'Alive',
                            'character-dead': character.status === 'Dead',
                            'character-unknown': character.status === 'unknown'
                          }">{{ character.status }}</p>
                    </div>
                    <hr>
                    <p class="card-species">{{ character.species }}</p>
                    <button class="card-button-details" type="button" (click)="changeCharacterId(character.id)">
                        Detalhes
                    </button>
                    <button class="card-button-favorite" type="button" (click)="favoriteCharacter(character.id, character.name, character.image)">
                        Favoritar
                    </button>
                </div>
            </ng-container>
    </section>
</main>