<header class="cabecalho">
    <div class="cabecalho-opacity">
        <button (click)="changeLinkToHome()" class="button-logo"><img class="logo" src="/assets/logo.svg" alt="logo" aria-hidden="true"></button>
        <nav class="nav-menu">
            <ul>
                <li><button (click)="changeLinkToPersonagens()">Personagens</button></li>
                <li><button>Episódios</button></li>
                <li><button>Localizações</button></li>
            </ul>
        </nav>
    </div>
</header>
