<app-cabecalho></app-cabecalho>
<app-sidebar></app-sidebar>
<main>
    <section class="conteudo">
        <ng-container *ngFor="let location of locations">
            <h1 class="location-name">{{ location.name }}</h1>
            <p class="location-type"><span>Type: </span>{{ location.type }}</p>
            <p class="location-dimension"><span>Dimension: </span>{{ location.dimension }}</p>
        </ng-container>
        <h2 class="list-title">Personagens Habitantes: </h2>
        <div class="list-characters">
            <ng-container *ngFor="let character of characterNames; let i = index">
                <div class="card-character">
                    <p>{{ character }}</p>
                    <button type="button" class="card-button" (click)="changeCharacterId(charactersId[i])">
                        <img src={{characterImages[i]}} >
                    </button>
                </div>
            </ng-container>
        </div>
    </section>
</main>