.conteudo {
    background-color: #272B33;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 8%;
    padding-left: 18%;
    padding-right: 1.5%;
}

.conteudo div {
    background-color: rgb(255, 255, 255);
    height: 40vh;
    margin: 10px;
}