<app-cabecalho></app-cabecalho>
<main>
    <section class="conteudo">
      <div class="conteudo-one">
        <h1 class="title">Explore e descubra tudo sobre os personagens de Rick & Morty!</h1>
        <button class="explore-button" (click)="changeLinkToPersonagens()">Explorar agora!</button>
      </div>
      <div class="conteudo-two">
        <div class="card-conteudo">
          <img src="../assets/rick.png" alt="Foto do Rick" class="rick-photo" />
          <h2>Rick Sanchez</h2>
          <span>Vivo</span>
          <hr>
          <div class="card-identidade">
            <p>Humano</p>
            <p>Masculino</p>
          </div>
        </div>
      </div>
    </section>
</main>