main {
    background-color: #272B33;
    height: 100vh;
}

.conteudo {
    background-color: #272B33;
    display: flex;
    flex-direction: row;
    padding-top: 7%;
}

.conteudo-one {
    margin-left: 5%;
    padding-top: 3%;
    width: 60%;
}

.conteudo-one h1 {
    color: white;
    font-size: 12vh;
    font-size: 5vw;
}

.explore-button {
    background-color: white;
    border: none;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.832);
    font-size: 3vh;
    margin-top: 5%;
    padding: 3%;
    transition: transform 0.3s ease;
}

.explore-button:hover {
    background-color: rgb(86, 255, 202);
    cursor: pointer;
    transform: scale(1.1);
}

.conteudo-two {
    align-items: center;
    // background-image: url('../assets/card-background-home.jpg');
    background-position: 70% bottom;
    border-radius: 30px;
    display: flex;
    height: 84vh;
    justify-content: center;
    margin-left: 20px;
    width: 35%;
}

.card-conteudo {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.850);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: space-evenly;
    width: 60%;
}

.card-especies {
    color: #272B33;
    font-size: 1.2vw;
    font-weight: bold;
}

.rick-photo {
    border-radius: 40%;
    height: 30vh;
    width: 12vw;
}

.card-conteudo h2 {
    color: rgba(0, 0, 0, 0.832);
    font-size: 4vh;
}

.card-conteudo span {
    font-size: 3vh;
}

.card-conteudo hr {
    background-color: #272B33;
    height: 0.5px;
    width: 95%;
}

.card-identidade {
    color: rgba(0, 0, 0, 0.832);
    display: flex;
    flex-direction: flow;
    font-size: 3vh;
    font-weight: bold;
    justify-content: space-evenly;
    width: 100%;
}

/* Para dispositivos pequenos, como smartphones em modo retrato */
@media only screen and (max-width: 320px) {
    
}

/* Para smartphones em modo paisagem ou dispositivos um pouco maiores */
@media only screen and (min-width: 321px) and (max-width: 375px) {

}

/* Para tablets e dispositivos maiores em modo retrato */
@media only screen and (min-width: 376px) and (max-width: 768px) {

}

/* Para tablets maiores e laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Para monitores de desktop comuns */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

}

/* Para monitores de desktop widescreen */
@media only screen and (min-width: 1441px) {

}