.conteudo {
    background-color: #272B33;
    color: white;
    display: flex;
    flex-direction: row;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.conteudo-one {
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 20%;
}

.conteudo-one span {
    font-weight: bold;
}

.character-name, .character-photo, #character-status, .character-gender, .character-location, .character-origin, .character-specie {
    margin-bottom: 10px;
}

.character-alive {
    background-color: green;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.character-dead {
    background-color: rgb(176, 0, 0);
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.character-unknown {
    background-color: gray;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
}

.conteudo-two {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    width: 70%;
}

.two-title {
    margin-bottom: 15px;
    text-align: center;
}

.list-episodes {
    display: grid;
    font-size: 15px;
    grid-template-columns: 1fr 1fr;
    margin-left: 80px;
}

.list-episodes p {
    margin: 10px;
}

.episode-number {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.5);
}

.list-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 15px;
    margin: 10px;
    text-align: left;
}